h2{
    text-align: center;
    color:rgb(56, 56, 119);
}

h1{
    text-align: center;
    color:rgb(162, 162, 252);
}


img{
    margin: 15px;
    width: 20%;
    float: right;
}

p {
    font-family: 'Segoe UI';
    font-size: 120%;
    text-align: right;
    margin:10px;
}

a{
    cursor:pointer}

#info, #skills, #experience, #contact, #contact2{ /*predeterminado tener oculto la informacion con estos id´s*/
    display: none;
}

/*-----------------------*/


body {
    min-width: 350px;
    background-color:#000;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/*importante para el fondo*/
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
	width: 95%;
    background-size: cover;
    background-image: url('../img/bg-header3.jpeg');
    background-position:center;
	margin-left: auto; 
	margin-right: auto;
    margin-top: 2%;
   /* padding: 20px 30px; */
    position: relative;
    z-index: 99;
    opacity: .85;
}


.contenedor.header {
    border: 3px solid #f10d33;
}

.barra-navegacion ul {
    display: flex; /*lista en horizontal*/
    justify-content: space-between; /*separacion de los iconos*/
    align-items: center;
    margin: 5%;
}

@media screen and (max-width: 768px) { /*centrar el <ul> para la barra de navegacion*/
    #ajuste{
        justify-content: center;
    }
    }
    


.barra-navegacion li {
    list-style: none; /*quitar el estilo de lista "°" el punto*/
    display: inline-block;
    margin: 2%;
}

.barra-navegacion .logo { /*logos git & Linkedin*/
    color:#3dff3e;
    font-size: 250%;
}


.barra-navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
}

.barra-navegacion a:hover {
    color: #3dff3e;
    border-bottom: 1px solid currentcolor;
}

.contenido-descripcion {
    display: flex;
    align-items: center;
}


@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}